{
  "QNA_SUBSCRIPTION_KEY_SAGE50_PAYROLL_UK": "",
  "QNA_SUBSCRIPTION_KEY_SAGE50_ACCOUNTING_US": "",
  "QNA_SUBSCRIPTION_KEY_SAGE50_ACCOUNTING_FR": "",
  "QNA_SUBSCRIPTION_KEY_CONTAPLUS_MODEL347_ES": ""
}
