{
  "QNA_SUBSCRIPTION_KEY_SAGE50_PAYROLL_UK": "",
  "QNA_SUBSCRIPTION_KEY_SAGE50_ACCOUNTING_US": "",
  "QNA_SUBSCRIPTION_KEY_SAGE50_ACCOUNTING_FR": "",
  "QNA_SUBSCRIPTION_KEY_CONTAPLUS_MODEL347_ES": "",
  "QNA_SUBSCRIPTION_KEY_MICROPAY_PAYROLL_AU": "",
  "QNA_SUBSCRIPTION_KEY_WAGEEASY_PAYROLL_AU": "",
  "QNA_SUBSCRIPTION_KEY_HANDISOFT_ACCOUNTING_AU": "",
  "QNA_SUBSCRIPTION_KEY_SAGE200C_SII_ES": "",
  "QNA_SUBSCRIPTION_KEY_CONTAPLUS_MIGRATIONTOSAGE50C_ES": "",
  "QNA_SUBSCRIPTION_KEY_SAGE50C_MIGRATIONFROMCONTA_ES": "",
  "QNA_SUBSCRIPTION_KEY_SBC_ACCOUNTING_UK": "",

  "QNA_KB_ID_SAGE50_PAYROLL_UK": "",
  "QNA_KB_ID_SAGE50_ACCOUNTING_US": "",
  "QNA_KB_ID_SAGE50_ACCOUNTING_FR": "",
  "QNA_KB_ID_CONTAPLUS_MODEL347_ES": "",
  "QNA_KB_ID_MICROPAY_PAYROLL_AU": "",
  "QNA_KB_ID_WAGEEASY_PAYROLL_AU": "",
  "QNA_KB_ID_HANDISOFT_ACCOUNTING_AU": "",
  "QNA_KB_ID_SAGE200C_SII_ES": "",
  "QNA_KB_ID_CONTAPLUS_MIGRATIONTOSAGE50C_ES": "",
  "QNA_KB_ID_SAGE50C_MIGRATIONFROMCONTA_ES": "",
  "QNA_KB_ID_SBC_ACCOUNTING_UK": "",

  "QNA-BOT_LUIS_SUBSCRIPTION_KEY_EN-GB": "",
  "QNA-BOT_LUIS_SUBSCRIPTION_KEY_EN-US": "",
  "QNA-BOT_LUIS_SUBSCRIPTION_KEY_EN-AU": "",
  "QNA-BOT_LUIS_SUBSCRIPTION_KEY_FR-FR": "",
  "QNA-BOT_LUIS_SUBSCRIPTION_KEY_ES-ES": ""
}
